---
import RichTextRenderer from "@caisy/rich-text-astro-renderer";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { client, graphql } from "../lib/graphql";
import type { HomePageResponse } from "../types/graphql";

const res = await client.request<HomePageResponse>(graphql`
	query HomePage {
		Index {
			actionButtonLabel
			actionButtonUrl
			callToAction
			headline
			id
			tagline
			_meta {
				id
			}
			content {
				json
			}
			image {
				id
				src
				title
				height
				width
			}
		}
	}
`);

const homePage = res.Index;
---

<Layout>
	<div class="flex md:flex-row flex-col gap-16">
		<aside class="md:w-1/3">
			<div class="w-full">
				<Image
					class="w-full"
					src={homePage.image.src}
					width={homePage.image.width}
					height={homePage.image.height}
					alt={homePage.image.title}
				/>
			</div>
		</aside>
		<article class="flex-1 space-y-4">
			<div>
				<h3>{homePage.headline}</h3>
				<h4>{homePage.tagline}</h4>
			</div>
			<div class="space-y-4">
				<RichTextRenderer node={homePage.content.json} />
			</div>
			<div class="pt-12">
				<h6>{homePage.callToAction}</h6>
				<a href={homePage.actionButtonUrl}>{homePage.actionButtonLabel}</a>
			</div>
		</article>
	</div>
</Layout>
